
.location-container {
    position: relative;
}
.location-container ul {
    display: flex;
    align-items: center;
    height: 42px;
    padding: 0;
    margin: 0;
}
.location-container ul li a {
    font-size: 14px;
    font-weight: 350;
    color: #333;
    margin-left: 10px;
}
.location-container ul li:last-child a {
    font-weight: bold;
}

.submenu {
    display: none;
    background-color: #f3f3f3;
}
.submenu li a {
    padding: 10px 30px;
    font-size: 14px;
}

