<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>쿠폰 / 이벤트</title>
    <link rel="stylesheet" href="/css/cs/qna/list.css">
    <link rel="stylesheet" href="/css/layout/layout.css">
    <link rel="stylesheet" href="/css/index_layout.css">
    <link rel="stylesheet" href="/css/cs/qna/sidebar.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="/js/headerMenu.js"></script>
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작 -->
        <th:block th:include="/common/header.html"/>
        <!-- 헤더 끝 -->
        <main>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <div class="coupon-page">
                    <th:block th:include="/cs/qna/inc/sidebar.html"/>
                </div>
                <!-- 사이드바 끝-->
                <!-- 오른쪽 글 -->
                <div class="main_content_side">
                    <div class="notice-container">
                        <div class="location-container">
                            <h2>쿠폰 / 이벤트</h2>
                            <div>
                                <ul>
                                    <li>
                                        <a href="#">고객센터 > </a>
                                    </li>
                                    <li>
                                        <a href="#">문의하기 > </a>
                                    </li>
                                    <li>
                                        <a href="#" class="this-location">쿠폰 / 이벤트</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <ul class="notice-list">
                          <li>
                            <div class="notice-header">
                                <a href="#" class="title">데이터 연동예정</a>
                                <span class="status">상태1(기능)</span>
                                <span class="writer">작성자1(기능)</span>
                                <span class="date">2025.00.00</span>
                            </div>
                          </li>
                          <li>
                            <div class="notice-header">
                                <a href="#" class="title">데이터 연동예정</a>
                                <span class="status">상태1(기능)</span>
                                <span class="writer">작성자1(기능)</span>
                                <span class="date">2025.00.00</span>
                            </div>
                          </li>
                          <li>
                            <div class="notice-header">
                                <a href="#" class="title">데이터 연동예정</a>
                                <span class="status">상태1(기능)</span>
                                <span class="writer">작성자1(기능)</span>
                                <span class="date">2025.00.00</span>
                            </div>
                          </li>
                        </ul>
                        <div class="notice-footer">
                            <div class="pagination">
                                <a href="#" class="active">1</a>
                                <a href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <span>...</span>
                                <a href="#">11</a>
                                <a href="#">❯</a>
                            </div>
                            <a th:href="@{/cs/qna/write}" class="inquiry-btn">문의하기</a>
                        </div>
                    </div>
                </div>

            </section>
        </main>

        <!-- 푸터 시작 -->
        <th:block th:include="/common/footer.html"/>
        <!-- 푸터 끝 -->
    </div>
</body>
</html>