<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/lotteOn/css/member/phoneAuth.css" />
    <title>이메일 인증 폼</title>
  </head>
  <body>
    <div class="container">
      <header>
        <img src="/lotteOn/images/logo.png" />
      </header>
      <section>
        <h2><strong>이메일</strong>을 <br />입력해주세요</h2>

        <input type="text" name="#" placeholder="이메일을 입력해주세요" />
        <button>다음</button>
      </section>
    </div>
  </body>
</html>
