<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 회원목록 : 롯데On</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/member.css">
    <link rel="stylesheet" href="/css/layout/layout.css">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/admin/postcode.js}"></script>
    
    <!-- 사이드바-->
    <!-- 사이드바-->
    <script src="/js/admin/sidebar.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', function (){

            // 삭제 기능
            // 개별 삭제 링크에 confirm 추가
            document.querySelectorAll('.delete-link').forEach(function(link) {
                link.addEventListener('click', function(e) {
                    if (!confirm("정말 삭제하시겠습니까?")) {
                        e.preventDefault(); // 링크 이동 막기
                    }
                });
            });

            // 전체 체크박스
            const deleteAllCheckbox = document.getElementById('deleteAll');

            // 개별 체크박스
            const deleteCheckboxes = document.querySelectorAll('input[name="deleteNo"]');

            deleteAllCheckbox.addEventListener('change', function () {
                const isChecked = this.checked;
                deleteCheckboxes.forEach(cb => cb.checked = isChecked);
            });

            // 선택삭제 버튼 validation
            document.querySelector('.member_list_form').addEventListener('submit', function(e) {
                const checked = document.querySelectorAll('input[name="deleteNo"]:checked');
                if (checked.length === 0) {
                    e.preventDefault();
                    alert('삭제할 항목을 선택해주세요.');
                } else {
                    const confirmDelete = confirm('선택한 항목을 정말 삭제하시겠습니까?');
                    if (!confirmDelete) {
                        e.preventDefault();
                    }
                }
            });

            document.querySelector('#cate').addEventListener('change',function(e){
                this.form.submit();
            })


        });

    </script>

    
    
</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작 -->
        <th:block th:include="/admin/inc/header.html"/>
        <!-- 헤더 끝 -->
        <main>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/admin/inc/sidebar.html"/>
                <!-- 사이드바 끝-->
                <!-- 오른쪽 글 -->
                <article class="main_content_side">
                    <!-- 여기부터 글 작성 -->
                    <div class="main_head">
                        <p class="main_head_title">회원목록</p>
                        <div style="float: right;">
                            <p style="font-size: 16px;">Home > 회원관리 ><span> 회원목록</span></p>
                        </div>
                    </div>

                    <div class="select_div">
                        <div class="select_box">
                            <form action="#">
                                <select name="searchType">
                                    <option value="아이디">아이디</option>
                                    <option value="이름">이름</option>
                                    <option value="이메일">이메일</option>
                                    <option value="휴대폰">휴대폰</option>
                                </select>
                                <input type="text" name="keyword" class="search_text" placeholder="검색어 입력">
                                <input type="submit" class="search_btn" value="검색">
                            </form>
                        </div>
                    </div>

                    <form action="#" class="member_list_form">
                        <table>
                            <thead>
                                <th><input type="checkbox" id="deleteAll"></th>
                                <th>번호</th>
                                <th>아이디</th>
                                <th>이름</th>
                                <th>성별</th>
                                <th>등급</th>
                                <th>포인트</th>
                                <th>이메일</th>
                                <th>휴대폰</th>
                                <th>가입일</th>
                                <th>상태</th>
                                <th style="width: 50px;">관리</th>
                            </thead>
                            <tbody>
                                <tr th:each="item, i : ${pageResponseDTO.dtoList}">
                                    <td>
                                        <input type="checkbox" name="deleteNo" th:value="${item.uid}" >
                                    </td>
                                    <td>[[${pageResponseDTO.startNo - i.index}]]</td>
                                    <td>[[${item.uid}]]</td>
                                    <td>[[${item.name}]]</td>
                                    <td>[[${item.userDetails.gender}]]</td>
                                    <td>
                                        <select name="rank">
                                            <option value="VVIP" th:selected="${item.userDetails.rank == 'VVIP'}">VVIP</option>
                                            <option value="VIP" th:selected="${item.userDetails.rank == 'VIP'}">VIP</option>
                                            <option value="GOLD" th:selected="${item.userDetails.rank == 'GOLD'}">GOLD</option>
                                            <option value="SILVER" th:selected="${item.userDetails.rank == 'SILVER'}">SILVER</option>
                                            <option value="FAMILY" th:selected="${item.userDetails.rank == 'FAMILY'}">FAMILY</option>
                                        </select>
                                    </td>
                                    <td>[[${item.userDetails.userPoint}]]</td>
                                    <td>[[${item.email}]]</td>
                                    <td>[[${item.hp}]]</td>
                                    <td th:text="${#temporals.format(item.lastLoginAt, 'yyyy.MM.dd HH:mm:ss')}"></td>
                                    <td style="color: green;">[[${item.state}]]</td>
                                    <td>
                                        <a href="#" id="modal_modify">[ 수정 ]</a><br>
                                        <a href="#">[ 중지 ]</a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>

                        <div style="margin-top: 20px;">
                            <button type="submit" class="modify_btn">선택수정</button>
                        </div>
                    </form>
                    <!-- 페이징 -->
                    <div class="page">
                        <th:block th:if="${pageResponseDTO.prev}">
                            <a th:href="@{/admin/member/list(pg=${pageResponseDTO.start-1})" class="prev">이전</a>
                        </th:block>

                        <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                            <a th:href="@{/admin/member/list(pg=${num})}" th:class="${num == pageResponseDTO.pg} ? 'current' : 'num'">[[${num}]]</a>
                        </th:block>

                        <th:block th:if="${pageResponseDTO.next}">
                            <a th:href="@{/admin/member/list(pg=${pageResponseDTO.end+1})}" class="next">다음</a>
                        </th:block>
                    </div>
                    
                </article>
            </section>
        </main>

        <!-- 푸터 시작 -->
        <th:block th:include="/admin/inc/footer.html"/>
        <!-- 푸터 끝 -->
    </div>



    <!-- 모달 -->
    <!-- 배너 등록 모달 -->
    <div class="modal">
        <div class="modal_popup">
            <div class="modal_head">
                <span class="modal_title">회원수정</span>
                <button type="button" class="close_btn">X</button>
            </div>

            <div class="modal_main">
                <form action="#" class="member">
                    <table class="modal_member">
                        <tr>
                            <td>아이디</td>
                            <td>
                                <input type="text" name="uid">
                            </td>
                        </tr>
                        <tr>
                            <td>이름</td>
                            <td>
                                <input type="text" name="name" placeholder="홍길동">
                            </td>
                        </tr>
                        <tr>
                            <td>성별</td>
                            <td>
                                <input name="gender" type="radio" value="남">남
                                <input name="gender" type="radio" value="여" style="margin-left: 10px;">여
                            </td>
                        </tr>
                        <tr>
                            <td>등급</td>
                            <td>
                                <input type="text" name="rank" readonly value="FAMILY"> 
                                <span style="margin-left: 10px;">등급 수정은 회원 목록에서 선택수정 가능</span>
                            </td>
                        </tr>
                        <tr>
                            <td>상태</td>
                            <td style="color: #57C479;">정상</td>
                        </tr>
                        <tr>
                            <td>EMAIL</td>
                            <td>
                                <input type="text" name="email">
                            </td>
                        </tr>
                        <tr>
                            <td>휴대폰</td>
                            <td>
                                <input type="text" name="hp">
                            </td>
                        </tr>
                        <tr>
                            <td>우편번호</td>
                            <td>
                                <input type="text" name="zip" id="zip" placeholder="우편번호 선택"/>
                            </td>
                        </tr>
                        <tr>
                            <td>기본주소</td>
                            <td>
                                <input class="inputs" type="text" name="addr1" id="addr1"/>
                            </td>
                        </tr>
                        <tr>
                            <td>상세주소</td>
                            <td>
                                <input class="inputs" type="text" name="addr2" id="addr2" />
                            </td>
                        </tr>
                        <tr>
                            <td>가입일</td>
                            <td>0000-00-00 00:00:00</td>
                        </tr>
                        <tr>
                            <td>최근로그인날짜</td>
                            <td>0000-00-00 00:00:00</td>
                        </tr>
                        <tr>
                            <td>기타</td>
                            <td>
                                <textarea name="content" placeholder="회원에대한기타정보입력"></textarea>
                            </td>
                        </tr>
                    </table>

                    <button type="submit" class="modal_btn">수정하기</button>
                </form>
                
            </div>
        </div>
    </div>

    <script>
        const modal = document.querySelector('.modal');
        const modalOpen = document.querySelector('#modal_modify');
        const modalClose = document.querySelector('.close_btn');

        //열기 버튼을 눌렀을 때 모달팝업이 열림
        modalOpen.addEventListener('click',function(){
            //'on' class 추가
            modal.classList.add('on');
        });
        //닫기 버튼을 눌렀을 때 모달팝업이 닫힘
        modalClose.addEventListener('click',function(){
            //'on' class 제거
            modal.classList.remove('on');
        });
    </script>




</body>
</html>