
<p>리뷰 4.8 / 5</p>
<div class="review_pick">
  <p class="title">리뷰 PICK ★</p>
  <div class="review_slider">
    <div class="review_card">
      <div class="review_img">
        <img src="/images/product/review_diptique_flerdefeau.jpg" alt="리뷰 이미지">
      </div>
      <div class="review_content">
        <div class="stars">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <p>5</p>
        </div>
        <p class="nickname">wis*** · 2024.06.03</p>
        <p class="review_text">
          일단 택배 받자마자 꼼꼼한 포장에 만족했고요<br>
          내용물 보니 무려 딥로 시코스 오드 뚜왈렛을 증정품
        </p>
      </div>
    </div>
    <div class="review_card">
      <div class="review_img">
        <img src="/images/product/review_diptique_flerdefeau.jpg" alt="리뷰 이미지">
      </div>
      <div class="review_content">
        <div class="stars">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <p>5</p>
        </div>
        <p class="nickname">wis*** · 2024.06.03</p>
        <p class="review_text">
          일단 택배 받자마자 꼼꼼한 포장에 만족했고요<br>
          내용물 보니 무려 딥로 시코스 오드 뚜왈렛을 증정품
        </p>
      </div>
    </div>
    <div class="review_card">
      <div class="review_img">
        <img src="/images/product/review_diptique_flerdefeau.jpg" alt="리뷰 이미지">
      </div>
      <div class="review_content">
        <div class="stars">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <p>5</p>
        </div>
        <p class="nickname">wis*** · 2024.06.03</p>
        <p class="review_text">
          일단 택배 받자마자 꼼꼼한 포장에 만족했고요<br>
          내용물 보니 무려 딥로 시코스 오드 뚜왈렛을 증정품
        </p>
      </div>
    </div>
    <div class="review_card">
      <div class="review_img">
        <img src="/images/product/review_diptique_flerdefeau.jpg" alt="리뷰 이미지">
      </div>
      <div class="review_content">
        <div class="stars">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <p>5</p>
        </div>
        <p class="nickname">wis*** · 2024.06.03</p>
        <p class="review_text">
          일단 택배 받자마자 꼼꼼한 포장에 만족했고요<br>
          내용물 보니 무려 딥로 시코스 오드 뚜왈렛을 증정품
        </p>
      </div>
    </div>
    <div class="review_card">
      <div class="review_img">
        <img src="/images/product/review_diptique_flerdefeau.jpg" alt="리뷰 이미지">
      </div>
      <div class="review_content">
        <div class="stars">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <img src="/images/product/full_star.png" alt="★">
          <p>5</p>
        </div>
        <p class="nickname">wis*** · 2024.06.03</p>
        <p class="review_text">
          일단 택배 받자마자 꼼꼼한 포장에 만족했고요<br>
          내용물 보니 무려 딥로 시코스 오드 뚜왈렛을 증정품
        </p>
      </div>
    </div>
  </div>
</div>
<div class="reviews">
  <div>
    <p>총 439건</p>
    <div>
      <a href="#">평점 높은 순</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">평점 낮은 순</a>&nbsp;&nbsp;|&nbsp;&nbsp;
      <a href="#">최신순</a>
    </div>
  </div>
  <div th:each="review : ${pageView.reviewPageResponseDTO.dtoList}" class="reviews_content">
    <p th:text="${review.uid}">uid</p>

    <div class="stars">
      <img src="/images/product/full_star.png"
           th:each="i : ${#numbers.sequence(1, review.rating)}"
           alt="★">
      <p th:text="${review.rating}">5</p>
    </div>

    <p th:text="'판매자 : ' + ${review.company}">판매자 : 롯데백화점 본점</p>

    <p th:utext="${review.content}">
      리뷰 내용
    </p>

    <img th:if="${review.sNameImage1 != null}" th:src="${review.sNameImage1}" alt="리뷰 이미지">
    <img th:if="${review.sNameImage2 != null}" th:src="${review.sNameImage2}" alt="리뷰 이미지">
  </div>

  <div class="reviews_page">
    <a href="#"><</a>
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">></a>
  </div>
</div>

