<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 문의하기목록 : 롯데On</title>
    <link rel="stylesheet" href="/css/admin/admin.css" />
    <link rel="stylesheet" href="/css/admin/qna/list.css" />
    <link rel="stylesheet" href="/css/layout/layout.css" />
    <script src="/js/common/state.js"></script>

    <!-- 사이드바-->
    <script src="/js/admin/sidebar.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <!-- 헤더 시작 -->
      <th:block th:include="/admin/inc/header.html"/>
      <!-- 헤더 끝 -->
      <main>
        <section class="content">
          <!-- 왼쪽 사이드바 -->
          <th:block th:include="/admin/inc/sidebar.html"/>

          <!-- 사이드바 끝-->
          <!-- 오른쪽 글 -->
          <article class="main_content_side">
            <!-- 여기부터 글 작성 -->
            <div class="main_head">
              <p class="main_head_title">문의하기 목록</p>
              <div style="float: right">
                <p style="font-size: 16px">
                  Home > 고객센터 ><span>문의하기</span>
                </p>
              </div>
            </div>

            <div class="select_div">
              <div class="select_box">
                <form action="#">
                  <select name="brand" style="width: 100px">
                    <option value="1차유형">1차유형&emsp;&emsp;▼</option>
                    <option value="1차유형">1차유형&emsp;&emsp;▼</option>
                  </select>
                  <select name="brand" style="width: 100px">
                    <option value="2차유형">2차유형&emsp;&emsp;▼</option>
                    <option value="2차유형">2차유형&emsp;&emsp;▼</option>
                  </select>
                </form>
              </div>
            </div>

            <form action="#" class="member_list_form">
              <table>
                <tr>
                  <th><input type="checkbox" /></th>
                  <th>번호</th>
                  <th>1차유형</th>
                  <th>2차유형</th>
                  <th>제목</th>
                  <th>작성자</th>
                  <th>작성일</th>
                  <th>상태</th>
                </tr>
                <tr th:each="inquiry, i : ${responseDTO.dtoList}">
                  <td>
                    <input type="checkbox" />
                  </td>
                  <td th:text="${responseDTO.startNo - i.index}"></td>
                  <td th:text="${inquiry.cateV1}"></td>
                  <td th:text="${inquiry.cateV2}"></td>
                  <td><a th:href="@{/cs/qna/view(no=${inquiry.no})}">[[${inquiry.title}]]</a></td>
                  <td th:text="${inquiry.user.name}"></td>
                  <td th:text="${#temporals.format(inquiry.wdate, 'yyyy-MM-dd')}"></td>
                  <td class="state" th:text="${inquiry.state}"></td>
                </tr>

              </table>

              <div style="margin-top: 20px">
                <button type="submit" class="delete_btn">선택삭제</button>
              </div>
            </form>

            <!-- 페이징 -->
            <div class="notice-footer">
              <div class="page">
                <th:block th:if="${responseDTO.prev}">
                  <a th:href="@{/admin/cs/qna/list(pg=${responseDTO.start - 1}, size=${responseDTO.size})}" class="prev">이전</a>
                </th:block>
                <th:block th:each="i: ${#numbers.sequence(responseDTO.start, responseDTO.end)}">
                  <a th:href="@{/admin/cs/qna/list(cateV1='회원', pg=${i}, size=${responseDTO.size})}" th:text="${i}" th:class="${i == responseDTO.pg ? 'active' : ''}"></a>
                </th:block>

                <th:block th:if="${responseDTO.next}">
                  <a th:href="@{/admin/cs/qna/list(pg=${responseDTO.end + 1}, size=${responseDTO.size})}" class="next">다음</a>
                </th:block>
              </div>
            </div>
          </article>
        </section>
      </main>

      <!-- 푸터 시작 -->
      <th:block th:include="/admin/inc/footer.html"/>
      <!-- 푸터 끝 -->
    </div>
  </body>
</html>
