<aside class="cs-sidebar">
    <div class="cs-title">문의하기</div>

    <ul class="cs-menu">
        <li><a th:href="@{/cs/qna/list}">회원</a></li>
        <li><a th:href="@{/cs/qna/coupon}">쿠폰 / 이벤트</a></li>
        <li><a th:href="@{/cs/qna/order}">주문 / 결제</a></li>
        <li><a th:href="@{/cs/qna/delivery}">배송</a></li>
        <li><a th:href="@{/cs/qna/cancel}">취소 / 반품 / 교환</a></li>
        <li><a th:href="@{/cs/qna/trip}">여행 / 숙박 / 항공</a></li>
        <li><a th:href="@{/cs/qna/safeDeal}">안전거래</a></li>
    </ul>

</aside>