<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 상품목록 : 롯데On</title>
    <link rel="stylesheet" href="/css/admin/admin.css">
    <link rel="stylesheet" href="/css/admin/product.css">
    <link rel="stylesheet" href="/css/layout/layout.css">

    <!-- 사이드바-->
    <script src="/js/admin/sidebar.js"></script>
</head>
<body>
<div id="wrapper">
    <!-- 헤더 시작 -->
    <th:block th:include="/admin/inc/header.html"/>
    <!-- 헤더 끝 -->
    <main>
        <section class="content">
            <!-- 왼쪽 사이드바 -->
            <th:block th:include="/admin/inc/sidebar.html"/>

            <!-- 사이드바 끝-->
            <!-- 오른쪽 글 -->
            <article class="main_content_side">
                <!-- 여기부터 글 작성 -->
                <div class="main_head">
                    <p class="main_head_title">상품현황</p>
                    <div style="float: right;">
                        <p style="font-size: 16px;">Home > 상품관리 ><span> 상품목록</span></p>
                    </div>
                </div>

                <div class="select_div">
                    <div class="select_box">
                        <form action="#">
                            <select name="brand">
                                <option value="상품명">상품명</option>
                                <option value="상품번호">상품번호</option>
                                <option value="판매자">판매자</option>
                                <option value="제조사">제조사</option>
                            </select>
                            <input type="text" name="keyword" class="search_text" placeholder="키워드 입력">
                            <input type="submit" class="search_btn" value="검색">
                        </form>
                    </div>
                </div>

                <form action="#" class="product_list_form">
                    <table>
                        <thead>
                        <th><input type="checkbox"></th>
                        <th>사진</th>
                        <th>상품코드</th>
                        <th>상품명</th>
                        <th>판매가격</th>
                        <th>할인율</th>
                        <th>포인트</th>
                        <th>재고</th>
                        <th>판매자</th>
                        <th>조회</th>
                        <th>관리</th>
                        </thead>
                        <tbody>
                        <tr th:each="product : ${pageResponseDTO.dtoList}">
                            <td>
                                <input type="checkbox">
                            </td>
                            <td>
                                <img src="/images/product/blnk_star.png" alt="별">
                                <img src="/images/product/blnk_star.png" alt="별">
                                <img src="/images/product/blnk_star.png" alt="별">
                            </td>
                            <td>[[${product.prodNo}]]</td>
                            <td>[[${product.prodName}]]</td>
                            <td>[[${product.prodPrice}]]</td>
                            <td>[[${product.prodDiscount}]]%</td>
                            <td>[[${product.prodPoint}]]</td>
                            <td>[[${product.prodStock}]]</td>
                            <td>[[${product.company}]]</td>
                            <td>[[${product.hit}]]</td>
                            <td>
                                <a th:href="@{/admin/product/delete(no=${product.prodNo})}">[삭제]</a>
                                <a href="#">[수정]</a>
                            </td>

                        </tr>

                        </tbody>
                    </table>

                    <div style="margin-top: 20px; overflow: hidden;">
                        <button type="submit" class="delete_btn">선택삭제</button>
                        <button class="register_btn">상품등록</button>
                    </div>
                </form>

                <!-- 페이징 -->
                <div class="page">
                    <th:block th:if="${pageResponseDTO.prev}">
                        <a th:href="@{/admin/product/list(pg=${pageResponseDTO.start-1})}" class="prev">이전</a>
                    </th:block>

                    <th:block th:each="num:${#numbers.sequence(pageResponseDTO.start, pageResponseDTO.end)}">
                        <a th:href="@{/admin/product/list(pg=${num})}" th:class="${num == pageResponseDTO.pg} ? 'current' : 'num'">[[${num}]]</a>
                    </th:block>

                    <th:block th:if="${pageResponseDTO.next}">
                        <a th:href="@{/admin/product/list(pg=${pageResponseDTO.end+1})}" class="next">다음</a>
                    </th:block>
                </div>

            </article>
        </section>
    </main>

    <!-- 푸터 시작 -->
    <th:block th:include="/admin/inc/footer.html"/>
    <!-- 푸터 끝 -->
</div>
</body>
</html>