logging:
  level:
    org:
      hibernate:
        orm:
          jdbc:
            bind: trace
    root: info

jasypt:
  encryptor:
    bean: jasyptStringEncryptor

mybatis:
  mapper-locations: classpath:mappers/**/*.xml
server:
  port: 8080
  servlet:
    context-path: /
spring:
  servlet:
    multipart:
      location: uploads
      max-file-size: 10MB

  mail:
    host: smtp.gmail.com
    port: 587
    username: clsrntkdgh@gmail.com
    password: redohcjnlkzeagdo
    properties:
      mail:
        smtp:
          auth: true
          timeout: 5000
          starttls:
            enable: true
  application:
    name: lotteOn
    version: ${version}
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    password: Asdf33143!@
    url: jdbc:mysql://43.201.101.104:3306/lotteOn
    username: lotteOn
  devtools:
    livereload:
      enabled: true
  jpa:
    database: mysql
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    properties:
      hibernate:
        format_sql: true
        show_sql: false
  thymeleaf:
    prefix: classpath:/templates
  security:
    oauth2:
      client:
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            user-name-attribute: id
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me

          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response  # 또는 response.id (서비스 구현 방식에 따라 다를 수 있음)
        registration:
          kakao:
            client-name: kakao
            authorization-grant-type: authorization_code

            # 카카오 > 내 애플리케이션 > 카카오 로그인 > 등록한 Redirect URI 입력
            redirect-uri: http://localhost:8080/login/oauth2/code/kakao

            # 카카오 > 내 애플리케이션 > 요약정보 > REST API 키 입력
            client-id: ENC("RVfojS4WZ7f8mrpVuTbJf1Eqy3V0qSe6Th5vKEswB1htfx2aHt2QHYD+GVE5aalJ")

            # 카카오 > 내 애플리케이션 > 카카오 로그인 > 보안 > Client Secret 생성 후 입력
            client-secret: ENC("ff/Q/fdSk4EB0fDGzFOudRztMTtJ3oYCPgHhDX7c0iyOaOy/gCZuMaOUrs+eFS1x")

            client-authentication-method: client_secret_post
            scope:
              - profile_nickname
              - profile_image
              - account_email

          google:
            client-id: ENC("mr0gGXxopzEnt88AvRDFbrZsh8LoGzrOoP2vba5q1PCYrpWibxkQnlpPlAwX/ZLIfa0U8uW0SPDEipM6gafO3FH7+T5N/S+bc9fBMszdod4ENjqOaYurMA==")
            client-secret: ENC("Xdod142xqZvygv8TRt3QS4XSLPz2gRi9WDSXzb+CoqNe6ZBxu5QJ0rpuZJZe+1Ju")
            redirect-uri: http://localhost:8080/login/oauth2/code/google
            scope:
              - email
              - profile

          naver:
            client-name: naver
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/naver

            client-id: ENC("NkVYLW0Zhq4ppZFxu5qodptT7LtrufADqUcr7l5XNbM=")
            client-secret: ENC("DNJbSQUugVhOpXRty8+3JWa5R5dLfkDs")

            client-authentication-method: client_secret_post
            scope:
              - name
              - email
              - profile_image