<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/myPage/pass.css">
    <title>비밀번호 확인 페이지</title>
</head>
<body>
<div class="container">
    <header>
        <img src="/images/logo.png" alt="롯데ON 로고" />
    </header>

    <section>
        <h2>개인 정보 수정</h2>
        <div>
            <span class="result-desc">
                <span th:text="${userDTO.name}"></span>님의 회원정보를 안전하게 보호하기 위해<br>
                비밀번호를 한 번 더 확인해 주세요.
            </span>
        </div>
        <form th:action="@{/my/info/check}" method="post">
            <span class="result-box-title">비밀번호 확인</span>
            <div class="result-box-item">
                <input type="password" name="inputPassword" placeholder="비밀번호를 입력해주세요.">
            </div>
            <div class="btn-box">
                <button type="submit" class="btn-login">확인</button>
            </div>
        </form>
        <script>

        </script>
    </section>
</div>
</body>
</html>