<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/myPage/layout.css">
    <link rel="stylesheet" href="/css/myPage/myPageMain.css">
    <link rel="stylesheet" href="/css/common/table-main.css">
    <link rel="stylesheet" href="/css/myPage/pagination.css">
    <link rel="stylesheet" href="/css/index_layout.css">
    <link rel="stylesheet" href="/css/common/header.css">
    <script src="/js/headerMenu.js"></script>

</head>
<body>
    <div id="wrapper">
        <!-- 헤더 시작 -->
        <th:block th:include="/common/header.html"/>
        <!-- 헤더 끝 -->
        <!-- 메인 시작 -->
        <main>
            <th:block th:insert="/myPage/inc/myShoppingInfo.html"></th:block>
            <section class="content">
                <!-- 왼쪽 사이드바 -->
                <th:block th:include="/myPage/inc/sidebar.html"/>
                <!-- 사이드바 끝-->
                <!-- 오른쪽 글 -->
                <article class="main_content_side">
                    <div class="ad">
                        <!-- 광고 -->광고
                    </div>
                    <div class="order-details">
                        <div class="title-area">
                            <h1>나의리뷰</h1>
                        </div>
                        <div class="order-details-table">
                            <table class="table-main">
                                <tbody>
                                    <tr>
                                        <th>번호</th>
                                        <th>상품명</th>
                                        <th>내용</th>
                                        <th>평점</th>
                                        <th>작성일</th>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr th:each="review, i : ${reviewDTO.dtoList}">
                                        <td>1</td>
                                        <td th:text="${review.product.prodNo} + '/' + ${review.product.prodName}"></td>
                                        <td th:text="${review.content}"></td>
                                        <td th:text="${review.rating}"></td>
                                        <td th:text="${#temporals.format(review.wdate, 'yyyy-MM-dd')}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="notice-footer">
                        <div class="pagination">
                            <a class="prev" th:if="${reviewDTO.prev}" th:href="@{/cs/my/review(pg=${reviewDTO.start - 1}, size=${reviewDTO.size})}">이전</a>
                            <th:block th:each="i: ${#numbers.sequence(reviewDTO.start, reviewDTO.end)}">
                                <a th:href="@{/cs/my/review(pg=${i}, size=${reviewDTO.size})}" th:text="${i}" th:class="${i == reviewDTO.pg ? 'active' : ''}"></a>
                            </th:block>
                            <a class="next" th:if="${reviewDTO.next}" th:href="@{/cs/my/review(pg=${reviewDTO.end + 1}, size=${reviewDTO.size})}">다음</a>
                        </div>
                    </div>
                </article>
            </section>
        </main>
        <!-- 메인 끝 -->
        <!-- 푸터 시작 -->
        <th:block th:include="/common/footer.html"/>
        <!-- 푸터 끝 -->
    </div>
</body>
</html>