<aside>
    <div class="category">
        <p>카테고리</p>
        <div class="category-item">
            <div class="parent">뷰티</div>
            <div class="children">
                <a href="/view/product/beauty/skincare/skincare.html">스킨케어</a>
                <a href="/view/product/beauty/makeup">메이크업</a>
                <a href="/view/product/beauty/perfume">향수</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">럭셔리</div>
            <div class="children">
                <a href="/view/product/luxury/bag">가방</a>
                <a href="/view/product/luxury/watch">시계</a>
                <a href="/view/product/luxury/shoes">신발</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">여성패션</div>
            <div class="children">
                <a href="/view/product/wfashion/onepiece">원피스</a>
                <a href="/view/product/wfashion/blouse">블라우스</a>
                <a href="/view/product/wfashion/pants">팬츠</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">남성패션</div>
            <div class="children">
                <a href="/view/product/mfashion/shirt">셔츠</a>
                <a href="/view/product/mfashion/slacks">슬랙스</a>
                <a href="/view/product/mfashion/jacket">자켓</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">가전</div>
            <div class="children">
                <a href="/view/product/electronics/computer">컴퓨터</a>
                <a href="/view/product/electronics/game">게임</a>
                <a href="/view/product/electronics/tv">티비</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">가구</div>
            <div class="children">
                <a href="/view/product/furniture/sofa">쇼파</a>
                <a href="/view/product/furniture/bed">침구</a>
                <a href="/view/product/furniture/wardrobe">옷장</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">반려동물</div>
            <div class="children">
                <a href="/view/product/pet/dog">강아지</a>
                <a href="/view/product/pet/cat">고양이</a>
                <a href="/view/product/pet/parrot">앵무새</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">취미</div>
            <div class="children">
                <a href="/view/product/hobby/knitting">뜨개</a>
                <a href="/view/product/hobby/badminton">배드민턴</a>
                <a href="/view/product/hobby/poldance">폴댄스</a>
            </div>
        </div>

        <div class="category-item">
            <div class="parent">여행</div>
            <div class="children">
                <a href="/view/product/travel/asia">아시아</a>
                <a href="/view/product/travel/europe">유럽</a>
                <a href="/view/product/travel/northamerica">북미</a>
            </div>
        </div>
    </div>
</aside>