<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Vscode/lotteOn/css/cs/notice/list.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="header_top">광고</div>
            <div class="header_bottom">
                <div class="user_menu">
                    <a href="#">로그인</a>
                    <span class="separator">|</span>
                    <a href="#">회원가입</a>
                    <span class="separator">|</span>
                    <a href="#">마이페이지</a>
                    <span class="separator">|</span>
                    <a href="#">장바구니</a>
                </div>
                <div class="logo_search">
                    <div class="logo">로고</div>
                    <!--검색창 없을시 삭제-->
                </div>
                    <!--메뉴창 없을시 삭제-->
                    <div class="location-container"><!--페이지 경로-->
                        <div>
                            <ul>
                                <li><a>HOME ></a></li>
                                <li><a> 공지사항</a></li>
                            </ul>
                        </div>
                    </div>
            </div>
        </header>
        <main>
            <div class="main-container">
                <div class="main-content">
                    <div class="sidebar">
                        <h3 class="sidebar-title">공지사항</h3>
                        <ul class="sidebar-menu">
                            <li>
                              <a href="#" class="menu-toggle">전체</a>
                            </li>
                            <li>
                              <a href="#" class="menu-toggle">고객서비스</a>
                            </li>
                            <li>
                              <a href="#" class="menu-toggle">안전거래</a>
                            </li>
                            <li>
                              <a href="#" class="menu-toggle">위해상품</a>
                            </li>
                            <li>
                              <a href="#" class="menu-toggle">이벤트당첨</a>
                            </li>
                            <li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <div class="footer">
                Copyright 2025 2조 Allrights reserved.
            </div>
        </footer>
    </div>
</body>
</html>