<aside class="cs-sidebar">
    <div class="cs-title">자주묻는질문</div>

    <ul class="cs-menu">
        <li><a th:href="@{/cs/faq/list}">회원</a></li>
        <li><a th:href="@{/cs/faq/coupon}">쿠폰 / 이벤트</a></li>
        <li><a th:href="@{/cs/faq/order}">주문 / 결제</a></li>
        <li><a th:href="@{/cs/faq/delivery}">배송</a></li>
        <li><a th:href="@{/cs/faq/cancel}">취소 / 반품 / 교환</a></li>
        <li><a th:href="@{/cs/faq/trip}">여행 / 숙박 / 항공</a></li>
        <li><a th:href="@{/cs/faq/safeDeal}">안전거래</a></li>
    </ul>

</aside>